{% extends "base/based.html" %}

{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://kit.fontawesome.com/ad58b0a01e.js" crossorigin="anonymous"></script>
<div class="container mt-5 pt-5">
        <div>
            <h3>Sign in</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class='btn btn-dark' value="Login">
        </form>
        <button type="button" class="btn btn-dark mt-2" onclick="window.location.href='{% provider_login_url 'google' %}'">
            <i class="fa-brands fa-google"></i> Sign in with Google
        </button>
        <div class='mt-2'>
            <p>Not registered yet ? &nbsp&nbsp<a href='{% url 'user:register' %}' class="btn btn-dark">Register</a></p>
        </div>

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                
            </li>
        {% endfor %}
    </ul>
    {% endif %}


    </div>

{% endblock  %}